<h1>Profil utilisateur</h1>

<p>Nom</p>
<%= current_user.name %>
<p>Boissons à écarter</p>
<div>
<div class="button">
  <%= submit_tag 'Bière' %>
</div>
<%= link_to 'Blanche', user_categories_path(category: "Bière", name: "Blanche"), data: {turbo_method: :post} %>
<%= link_to 'Blonde', user_categories_path(category: "Bière", name: "Blonde"), data: {turbo_method: :post}   %>
<%= link_to 'Ambrée', user_categories_path(category: "Bière", name: "Ambrée"), data: {turbo_method: :post}   %>
<%= link_to 'Brune', user_categories_path(category: "Bière", name: "Brune"), data: {turbo_method: :post}  %>
<%= link_to 'Noire', user_categories_path(category: "Bière", name: "Noire"), data: {turbo_method: :post}  %>
<%= link_to 'Fruits', user_categories_path(category: "Bière", name: "Fruits"), data: {turbo_method: :post}  %>
</div>

<div>
<div class="button">
  <%= submit_tag 'Vin' %>
</div>
<%= link_to 'Blanc', user_categories_path(category: "Vin", name: "Blanc"), data: {turbo_method: :post}   %>
<%= link_to 'Rosé', user_categories_path(category: "Vin", name: "Rosé"), data: {turbo_method: :post}  %>
<%= link_to 'Rouge', user_categories_path(category: "Vin", name: "Rouge"), data: {turbo_method: :post}  %>
</div>

<p>Aliments à écarter</p>
<div>
<div class="button">
  <%= submit_tag 'Fromage' %>
</div>
<%= link_to 'Vache', user_categories_path(category: "Fromage", name: "Vache"), data: {turbo_method: :post} %>
<%= link_to 'Chèvre', user_categories_path(category: "Fromage", name: "Chèvre"), data: {turbo_method: :post}  %>
<%= link_to 'Brebis', user_categories_path(category: "Fromage", name: "Brebis"), data: {turbo_method: :post}  %>
<%= link_to 'Bufflone', user_categories_path(category: "Fromage", name: "Bufflone"), data: {turbo_method: :post}  %>
</div>

<div class="button">
  <%= submit_tag 'VALIDER' %>
</div>
