<div id="edit-profiles">
<h1 class="edit-title">Profil utilisateur</h1>

  <div class="title-line">
    <div class="title-dot"></div>
  </div>

<div class="profil">
  <div class= 'index-subtitle'>Nom
  <%= current_user.name %>
  </div>

  <div class= 'index-subtitle'>
  <p>Boissons à écarter</p>
  </div>

  <div class="beer">
    <div class="button">
      <%= submit_tag 'Bière' %>
    </div>
    <div class="option-wrapper">
      <%= link_to 'Blanche', user_categories_path(category: "Bière", name: "Blanche"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor" }, id: "blanche" %>
      <%= link_to 'Blonde', user_categories_path(category: "Bière", name: "Blonde"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor" }, id:"blonde"   %>
      <%= link_to 'Ambrée', user_categories_path(category: "Bière", name: "Ambrée"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "ambrée"  %>
      <%= link_to 'Brune', user_categories_path(category: "Bière", name: "Brune"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "brune"  %>
      <%= link_to 'Noire', user_categories_path(category: "Bière", name: "Noire"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "noire"  %>
      <%= link_to 'Fruits', user_categories_path(category: "Bière", name: "Fruits"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "fruits"  %>
      </div>
  </div>

  <div class="wine">
    <div class="button">
      <%= submit_tag 'Vin' %>
    </div>
    <div class="option-wrapper">
      <%= link_to 'Blanc', user_categories_path(category: "Vin", name: "Blanc"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "blanc"  %>
      <%= link_to 'Rosé', user_categories_path(category: "Vin", name: "Rosé"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "rosé"  %>
      <%= link_to 'Rouge', user_categories_path(category: "Vin", name: "Rouge"), data: {turbo_method: :post, controller: "color", action: "click->color#displayColor", color_target: "activeColor"}, id: "rouge"  %>
    </div>
  </div>

  <div class="button">
    <%= submit_tag 'VALIDER', class: 'search-btn'%>
  </div>
</div>
</div>
