<div class="navbar-container" data-controller="navbar" data-navbar-target="backgroundColor">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to foods_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="34" viewBox="0 0 24 34" fill="none">
          <path d="M23.112 12.2371L19.9837 1.34562C19.9136 1.10161 19.7684 0.887391 19.5698 0.734976C19.3711 0.582562 19.1297 0.500132 18.8816 0.5H5.11841C4.87029 0.500132 4.62888 0.582562 4.43023 0.734976C4.23158 0.887391 4.08636 1.10161 4.01627 1.34562L0.888009 12.2371C0.397202 13.9065 0.371515 15.6833 0.81385 17.3669C1.25618 19.0504 2.14891 20.5736 3.39119 21.7644C5.43469 23.7291 8.06032 24.9368 10.8504 25.1955V31.1429H6.25217C5.94729 31.1429 5.65489 31.267 5.43931 31.4881C5.22372 31.7091 5.10261 32.0089 5.10261 32.3214C5.10261 32.634 5.22372 32.9338 5.43931 33.1548C5.65489 33.3758 5.94729 33.5 6.25217 33.5H17.7478C18.0527 33.5 18.3451 33.3758 18.5607 33.1548C18.7763 32.9338 18.8974 32.634 18.8974 32.3214C18.8974 32.0089 18.7763 31.7091 18.5607 31.4881C18.3451 31.267 18.0527 31.1429 17.7478 31.1429H13.1496V25.1955C15.9396 24.9366 18.5652 23.7289 20.6088 21.7644C21.8511 20.5736 22.7438 19.0504 23.1861 17.3669C23.6285 15.6833 23.6028 13.9065 23.112 12.2371ZM5.97771 2.85714H18.0223L20.9091 12.903C20.9221 12.9472 20.9336 12.9914 20.9451 13.0356C17.8671 14.167 14.4012 12.7999 12.5202 11.8231C8.90048 9.94478 6.02657 9.70612 3.90706 10.0656L5.97771 2.85714ZM19.0411 20.0422C17.1322 21.8747 14.6151 22.8943 12 22.8943C9.38495 22.8943 6.86777 21.8747 4.95891 20.0422C4.02931 19.1491 3.36178 18.0073 3.03169 16.7458C2.7016 15.4842 2.72209 14.1532 3.09086 12.903L3.15553 12.6791C4.87988 12.0809 7.62015 11.9218 11.4798 13.9269C13.082 14.7592 15.67 15.82 18.439 15.82C19.3645 15.8246 20.286 15.6956 21.1764 15.4369C21.0591 17.1938 20.296 18.8397 19.0411 20.0422Z" fill="white"/>
        </svg>
      <% end %>
      <a class="navbar-brand" href="#">buvonsFromage</a>
      <div class="nav-item dropdown">
        <button class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->navbar#background">
          <i class="fa-solid fa-bars text-white bars"></i>
          <i class="fa-solid fa-x text-white close"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="link-search <%= "active" if current_page?(foods_path) %>">
            <%= link_to "RECHERCHER", foods_path, class: "dropdown-item", class:"navbar-color" %>
          </li>
          <li class="link-cart <%= "active" if current_page?(pairings_path) %>">
            <%= link_to "PANIER", pairings_path, class: "dropdown-item", class:"navbar-color" %>
          </li>
          <li class="link-profil <%= "active" if current_page?(edit_profiles_path) %>">
            <%= link_to "PROFIL", edit_profiles_path, class: "dropdown-item", class:"navbar-color" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
