<div id="purple-navbar">
  <%= render "shared/navbar" %>
</div>
<div id="index-foods">

  <h1 class="index-title">Sélection du jour</h1>

  <div class="title-line">
    <div class="title-dot"></div>
  </div>

  <div class="form-search-container" data-controller="dropdown">
    <%= form_tag categories_path, method: :get, id: 'category-form' do %>
      <div class="search-form-wrapper">
        <div class="field">
          <%= label_tag :category_id, 'Ce que j\'ai ...', class: 'index-subtitle' %>
          <%= select_tag :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }), prompt: 'Recherche', id: 'category-select', data: { action: "change->dropdown#display", dropdown_target: "categorySelect" } %>
        </div>

        <div class="field" id="sub-category-field" style="display: none" data-dropdown-target="subCategoryField">
          <%= label_tag :categorie_drinks_name, 'et plus précisement :', class: 'index-subtitle' %>
          <%= select_tag :categorie_drinks_name, options_for_select(@categorie_drinks.map { |s| [s.name, s.id] }), prompt: 'Sélectionnez une sous-catégorie', id: 'sub-category-select', data: { action: "change->dropdown#subDisplay", dropdown_target: "subCategorySelect"} %>
        </div>

        <%# 2E PRODUIT A SELECTIONNER %>
        <div class="field">
          <%= label_tag :second_category_id, 'Ce que je cherche ...', class: 'index-subtitle' %>
          <%= select_tag :second_category_id, options_for_select(@second_categories.map { |c| [c.name, c.id] }), prompt: 'Recherche', id: 'second-category-select', data: { action: "change->dropdown#secondDisplay", dropdown_target: "secondCategorySelect" } %>
        </div>

        <div class="field" id="second-sub-category-field" style="display: none" data-dropdown-target="secondSubCategoryField">
          <%= label_tag :second_subcategory_id, 'et plus précisement :', class: 'index-subtitle' %>
          <%= select_tag :second_subcategory_id, options_for_select(@second_categorie_drinks.map { |s| [s.name, s.id] }), prompt: 'Sélectionnez une sous-catégorie', id: 'second-sub-category-select', data: { dropdown_target: "secondSubCategorySelect"} %>
        </div>
      </div>

      <%= submit_tag 'RECHERCHER', class: 'search-btn' %>
    <% end %>
  </div>
</div>
