<h1>Choisissez votre accord</h1>

<div data-controller="dropdown">
  <%= form_tag categories_path, method: :get, id: 'category-form' do %>
    <div class="field">
      <%= label_tag :category_id, 'Catégorie' %>
      <%= select_tag :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }, @selected_category_id), prompt: 'Sélectionnez une catégorie', id: 'category-select', data: { action: "change->dropdown#display", dropdown_target: "categorySelect" } %>
    </div>

    <div class="field" id="sub-category-field" style="display: none" data-dropdown-target="subCategoryField">
      <%= label_tag :subcategory_id, 'Sous-catégorie' %>
      <%= select_tag :subcategory_id, options_for_select(@categorie_drinks.map { |s| [s.name, s.id] }), prompt: 'Sélectionnez une sous-catégorie', id: 'sub-category-select', data: { dropdown_target: "subCategorySelect"} %>
    </div>

<%# 2E PRODUIT A SELECTIONNER %>
<h2>Quel produit avez-vous ?</h2>
    <div class="field">
      <%= label_tag :second_category_id, 'Catégorie' %>
      <%= select_tag :second_category_id, options_for_select(@second_categories.map { |c| [c.name, c.id] }, @selected_second_category_id), prompt: 'Sélectionnez une catégorie', id: 'second-category-select', data: { action: "change->dropdown#secondDisplay", dropdown_target: "secondCategorySelect" } %>
    </div>

    <div class="field" id="second-sub-category-field" style="display: none" data-dropdown-target="secondSubCategoryField">
      <%= label_tag :second_subcategory_id, 'Sous-catégorie' %>
      <%= select_tag :second_subcategory_id, options_for_select(@second_categorie_drinks.map { |s| [s.name, s.id] }), prompt: 'Sélectionnez une sous-catégorie', id: 'second-sub-category-select', data: { dropdown_target: "secondSubCategorySelect"} %>
    </div>

    <div class="actions">
      <%= submit_tag 'Valider' %>
    </div>
  <% end %>
</div>
