<div id="edit-profiles">


<%= @food.name %>
<%= @food.milk %>
<%= @food.aging %>
<%= @food.origin %>
<%= @food.description %>
<%= link_to 'TROUVER', foods_path %> <%# la route n'est pas la bonne %>


    <div class="button">
      <%= submit_tag 'TROUVER', class: 'search-btn'%>
    </div>

</div>
