<div id="edit-profiles">

<%= cl_image_tag(@food.photo.key, width: 430, height: 430, crop: :fill) %>

<%= @food.name %>
<%= @food.milk %>
<%= @food.aging %>
<%= @food.origin %>
<%= @food.description %>
<%= link_to 'TROUVER', foods_path %> <%# la route n'est pas la bonne %>


    <div class="button">
      <%= submit_tag 'TROUVER', class: 'search-btn'%>
    </div>

</div>
