<div id="black-navbar">
  <%= render "shared/navbar" %>
</div>

<div id="show-food">
  <%= cl_image_tag @food.photo.key, height: 300, width: 400, crop: :fill %>
  <%= @food.name %>
  <%= @food.milk %>
  <%= @food.aging %>
  <%= @food.origin %>
  <%= @food.description %>
  <%= link_to 'TROUVER', foods_path %> <%# la route n'est pas la bonne %>

  <div class="button">
    <%= submit_tag 'COMMENCER', class: 'search-btn'%>
  </div>
</div>
