<div id="orange-navbar">
  <%= render "shared/navbar" %>
</div>

<div id="index-categories" data-controller="matches">
  <%# <p>Inscription à la session de <a cible="popup:fenetre002">session de septembre</a>.</p> %>
  <div class="heart-matches" style="display: none" data-matches-target="heart">
    <i class="fa-solid fa-heart heart fa-bounce"></i>
  </div>
    <div class="category_fleche">
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
        <circle cx="22.5" cy="22.5" r="22.5" fill="#FF7B0F"/>
        <path d="M21.9849 26.7437L15.3442 20.103C14.8853 19.644 14.8853 18.9019 15.3442 18.4478L16.4478 17.3442C16.9067 16.8853 17.6489 16.8853 18.103 17.3442L22.8101 22.0513L27.5171 17.3442C27.9761 16.8853 28.7183 16.8853 29.1724 17.3442L30.2759 18.4478C30.7349 18.9067 30.7349 19.6489 30.2759 20.103L23.6353 26.7437C23.186 27.2026 22.4438 27.2026 21.9849 26.7437Z" fill="white"/>
      </svg>
    </div>

    <% if @category.name == "Fromage" %>
      <%= cl_image_tag @category_value.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid choice-img" %>
    <% elsif @category.name == "Bière" %>
      <%= cl_image_tag @category_value.drink.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2 choice-img" %>
    <% else %>
      <%= cl_image_tag @category_value.drink.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2 choice-img" %>
    <% end %>

  <div class="pairing-wrapper">
    <% @choices.each do |choice| %>
      <div class="pairing" data-controller="pairing">
        <%= simple_form_for Pairing.new do |f| %>
          <%= cl_image_tag choice.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid choice-img" %>

          <div class="d-none">
            <% if @category.name == "Fromage" %>
              <%= f.input :drink_id, value: choice.id %>
              <%= f.hidden_field :food_id, value: @category.foods.sample.id %>
            <% else %>
              <% drink =  @color.drink%>
              <%= f.input :food_id, input_html: {value: choice.id} %>
              <%= f.input :drink_id, input_html: { value: drink.id } %>
            <% end %>
          </div>

          <%= f.hidden_field :category_id, value: @category.id %>
          <%= f.hidden_field :second_category_id, value: @second_category.id%>
          <% if @category.name == "Fromage" %>
            <%= link_to drink_path(choice.id), class:"choice-name" do %>
              <i class="fa-solid fa-circle-info" style="color: #ff7b0f; margin-right: 3px;"></i>
              <%= choice.name %>
            <% end %>
          <% else %>
            <%= link_to food_path(choice.id), class:"choice-name" do %>
              <i class="fa-solid fa-circle-info" style="color: #ff7b0f; margin-right: 3px;"></i>
              <%= choice.name %>
            <% end %>
          <% end %>

          <div class="choice-btn">
            <div class="unlike_container">
              <%= link_to dislike_category_path(id: choice, class: choice.class), data: {turbo_method: :patch} do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                  <path d="M28.5634 30.625C28.4192 30.625 28.2764 30.5965 28.1432 30.5412C28.0101 30.4858 27.8892 30.4046 27.7875 30.3024L2.77894 5.1461C2.57443 4.94033 2.46005 4.66174 2.46094 4.37162C2.46184 4.08151 2.57795 3.80364 2.78372 3.59913C2.9895 3.39462 3.26809 3.28024 3.5582 3.28113C3.84831 3.28203 4.12619 3.39814 4.3307 3.60391L29.3386 28.7602C29.4909 28.9134 29.5944 29.1082 29.6361 29.3201C29.6778 29.5321 29.6558 29.7516 29.5729 29.9511C29.49 30.1505 29.3498 30.321 29.1702 30.4409C28.9906 30.5609 28.7794 30.6249 28.5634 30.625ZM24.9458 5.46876C21.9319 5.46876 19.8455 7.16544 18.6301 8.57911C18.5916 8.62344 18.544 8.65899 18.4906 8.68335C18.4372 8.70771 18.3792 8.72032 18.3204 8.72032C18.2617 8.72032 18.2037 8.70771 18.1503 8.68335C18.0968 8.65899 18.0493 8.62344 18.0108 8.57911C16.7953 7.16544 14.7083 5.46876 11.6951 5.46876C10.9773 5.46837 10.2634 5.57293 9.57591 5.77911L27.9735 24.284C28.1785 24.0488 28.3631 23.8301 28.5299 23.6277C31.2643 20.2952 32.5734 16.8745 32.5365 13.1688C32.4961 8.92296 29.0898 5.46876 24.9458 5.46876ZM4.71693 10.1958C4.32073 11.1374 4.11176 12.1472 4.10169 13.1688C4.06478 16.8745 5.37523 20.2952 8.10824 23.6277C9.39134 25.1911 11.7176 27.6917 17.09 31.3387C17.4524 31.5866 17.8813 31.7193 18.3204 31.7193C18.7596 31.7193 19.1885 31.5866 19.5509 31.3387C20.942 30.394 22.1281 29.5272 23.1452 28.7328L4.71693 10.1958Z" fill="white"/>
                </svg>
              <% end %>
            </div>
            <div class="like_container">
              <%# <%= f.hidden_field :categorie_drinks_name, value: @drink_value %>
              <%#= choice == @category_value %>
              <%#= choice == @category_value.drink %>
              <% match = Match.find_by(drink: @category_value.drink, food: choice) %>
              <%#= @category_value.drink.class %>
              <%#= choice.class %>
                <% if match %>
                <div class="" data-action="click->matches#displayHeart">
                  <%= f.submit " ", class:"submit_like" %>
                </div>
                <% else %>
                  <%= f.submit " ", class:"submit_like" %>
                <% end  %>
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="32" viewBox="0 0 35 32" fill="none">
                <path d="M2.9165 13.3248C2.9165 20.4166 8.779 24.1952 13.0694 27.5785C14.5832 28.7714 16.0415 29.8958 17.4998 29.8958C18.9582 29.8958 20.4165 28.7729 21.9303 27.5771C26.2221 24.1966 32.0832 20.4166 32.0832 13.3262C32.0832 6.23436 24.0623 1.20457 17.4998 8.02373C10.9373 1.20311 2.9165 6.2329 2.9165 13.3248Z" fill="#FF7B0F"/>
              </svg>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
