<h1>Nos suggestions d'accord</h1>

<% @choices.each do |choice| %>
<%= choice.name %>
<%= form_tag({:action => 'valider'}, {:multipart => true}) %>
    <%= file_field_tag :submit_tag%>
  <%= end_form_tag %>
<%# <%= select_tag :category_id %>
<% end %>

<%# <%= link_to "je valide", categories_path do %>
<%# <% end %>

<%# <%= link_to "X", categories_path do %>
<%# <% end %>
