<h1>Nos suggestions d'accord</h1>

<%= @category.name %>
<% @choices.each do |choice| %>

<%= simple_form_for Pairing.new do |f| %>
  <%= choice.name %>
  <div class="d-none">
    <% if @category.name == "Cheese" %>
      <%= f.input :drink_id, value: choice.id %>
    <% else %>
     <%= f.input :food_id, input_html: {value: choice.id} %>
  <% end %>
  </div>
  <%= f.submit "Je valide" %>
<% end %>


  <%# <%= link_to "je valide", categories_path(@pairings) %>
  <%= link_to "X", categories_path(@categories) %>
<% end %>

<%# create de pairings qui redigire vers categories  : ok%>

<%# js stimulus %>
<%# quand click sur "je valide" ou "X" (data-action) %>
<%# recharge de la page et affichage de l'id suivant (AJAX) %>


<%# data-action sur les links %>
<%# fetch sur @choice.first pour aller rechercher l'id suivante : AJAX %>




<%# <button class="btn btn-primary btn-lg" %>
        <%# data-controller="disable-button" %>
        <%# data-action="click->disable-button#disable"> %>
  <%# Je Valide! %>
<%# </button> %>

<%# créer un fichier pairing_controller.js, y mettre : %>
<%#  disable() {
    this.element.innerText = "Bingo!";
    this.element.setAttribute("disabled", "");
  } %>
