<div id="orange-navbar">
  <%= render "shared/navbar" %>
</div>
<div id="index-categories">
  <%= @category.name %>
  <% @choices.each do |choice| %>
    <%# <% choice.photo.each do |photo| %>
      <%= cl_image_tag choice.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2" %>
    <%# <% end %>

      <div class="pairing" data-controller="pairing">
        <%= simple_form_for Pairing.new do |f| %>
          <%= choice.name %>
          <div class="d-none">
            <% if @category.name == "Fromage" %>
              <%= f.input :drink_id, value: choice.id %>
              <%= f.hidden_field :food_id, value: @category.foods.sample.id %>
            <% else %>
            <% drink =  @category.drinks.sample%>
              <%= f.input :food_id, input_html: {value: choice.id} %>
              <%= f.hidden_field :drink_id, value: drink.id %>
              <%# <% raise %>
              <%# <%= cl_image_tag drink.photo.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2" %>
              <%# <% test = Food.first %>
              <%# <% #raise %>
                <%# <%= cl_image_tag(test.first.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2") %>

              <%# <% @category.drinks.last.photos.each do |image| %>
                <%# <%= cl_image_tag(image.key, height: 200, width: 300, crop: :fill, class: "img-fluid rounded-4 pb-2") %>
              <%# <% end %>
            <% end %>
          </div>
            <%= f.hidden_field :category_id, value: @category.id %>
              <%= f.hidden_field :second_category_id, value: @second_category.id%>

            <%= f.submit "Je valide" %>
        <% end %>
        <%= link_to "X", categories_path(@categories) %>


        <% if @category.name == "Fromage" %>
            <%= link_to "Description", drink_path(choice.id) %>
        <% else %>
            <%= link_to "Description", food_path(choice.id) %>
        <% end %>

      <%# <%= link_to "Description", food_path %>
      <%# <%= link_to "Description", drink_path %>
    <% end %>
  </div>
</div>
<%# create de pairings qui redigire vers categories  : ok%>

<%# js stimulus %>
<%# quand click sur "je valide" ou "X" (data-action) %>
<%# recharge de la page et affichage de l'id suivant (AJAX) %>


<%# data-action sur les links %>
<%# fetch sur @choice.first pour aller rechercher l'id suivante : AJAX %>




<%# <button class="btn btn-primary btn-lg" %>
        <%# data-controller="disable-button" %>
        <%# data-action="click->disable-button#disable"> %>
  <%# Je Valide! %>
<%# </button> %>

<%# créer un fichier pairing_controller.js, y mettre : %>
<%#  disable() {
    this.element.innerText = "Bingo!";
    this.element.setAttribute("disabled", "");
  } %>

  <%# <%= link_to "je valide", categories_path(@pairings) %>
